# Recommended gitignore from oclif
*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
node_modules
oclif.manifest.json

# Misc other files/folders
.idea/
.DS_STORE

# Example takeout/output/error directories specified in the readme - to avoid accidentally committing test data
/takeout
/output
/error
